* {
  /* padding: 0px;
  margin: 0px; */
}

.main {
  background-color: aquamarine;
}

.body {
  border: 2px solid;
}

.title {
  border: 2px solid;
  width: 550px;
  position: relative;
  left: 600px;
  text-align: center;
}

.input {
  position: relative;
  left: 610px;
  border: 2px solid;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input #id {
  height: 20px;
}

.input #details {
  height: 20px;
}

.input #date {
  height: 20px;
}

.input button {
  height: 30px;
  width: 100px;
  background-color: pink;
  position: relative;
  left: 200px;
}